ag-charts {
    height: 20%;
    width: 20%;
}

mat-card-header {
    height: 15px;
}

h4 {
    font-size: 10px;
    color: white;
    margin: 0px;
}

h6 {
    font-size: 16px;
    color: yellow;
    margin: 0px;
}

