<!--
<h5>Photos de {{evenementCourant?.titre}}</h5>
<mat-grid-list cols="4" rowHeight="400" gutterSize="30px" style="vertical-align: top;">
    <div *ngFor="let p of photos; let i = index" style="vertical-align: top;">
        <mat-grid-tile *ngIf="i >= photoCourante && i < (photoCourante + pasPhotos)">
        <mat-card>
          <mat-card-header> 
          <mat-card-title><h6>{{p.nomAuteur}}</h6></mat-card-title> 
          </mat-card-header> 
          <mat-card-content *ngIf="p.commentaire != ''"> 
            <div style="max-width: 40%;">
              <img mat-card-image src={{imageUrlList[i]}} alt="Photo"> 
            </div>
          </mat-card-content>
          <mat-card-content>
            <p>
              {{p.commentaire}}
            </p>
          </mat-card-content>
      </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
-->
      <!--Liste déroulante des évènements-->
      <div class="form-fields">
        <mat-form-field>
          <mat-label>Evènement</mat-label>
            <mat-select style="height: 20px;" (selectionChange)="onChangeEvenement($event)">
              <div *ngFor="let e of evenements; let i = index">
              <mat-option value={{e.id}}>{{e.titre}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
  
      <!--Liste déroulante des jours-->
      <mat-form-field>
          <mat-label>Jours</mat-label>
          <mat-select style="height: 20px;" (selectionChange)="onChangeJour($event)">
            <div *ngFor="let j of jours; let i = index">
            <mat-option value={{j.id}}>{{j.commentaire}}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  
  </div>
  <div *ngIf="photos.length > 0">
    <button mat-button (click)="onDecrementePhoto()" *ngIf="pageCourantePhoto >= 1"><<</button>
    <button mat-button *ngIf="pageCourantePhoto < 1" disabled><<</button>
    Page {{pageCourantePhoto + 1}} sur {{nbPagesPhotos}}
    <button mat-button (click)="onIncrementePhoto()" *ngIf="pageCourantePhoto < nbPagesPhotos - 1">>></button>
    <button mat-button *ngIf="pageCourantePhoto >= nbPagesPhotos - 1" disabled>>></button>
    
    <mat-grid-list cols="4" rowHeight="400" gutterSize="30px">
      <div *ngFor="let p of photos; let i = index">
        <mat-grid-tile *ngIf="i >= photoCourante && i < (photoCourante + pasPhotos)">
          <mat-card>
            <mat-card-header> 
            <mat-card-title><h6>{{p.nomAuteur}}</h6></mat-card-title> 
            </mat-card-header> 
            <mat-card-content *ngIf="p.commentaire != ''"> 
              <div style="max-width: 40%;">
                <img mat-card-image src={{imageUrlList[i]}} alt="Photo"> 
              </div>
            </mat-card-content>
            <mat-card-content>
              <p>
                {{p.commentaire}}
              </p>
            </mat-card-content>
        </mat-card>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  
    <br/>
    <button mat-button (click)="onDecrementePhoto()" *ngIf="pageCourantePhoto >= 1"><<</button>
    <button mat-button *ngIf="pageCourantePhoto < 1" disabled><<</button>
    Page {{pageCourantePhoto + 1}} sur {{nbPagesPhotos}}
    <button mat-button (click)="onIncrementePhoto()" *ngIf="pageCourantePhoto < nbPagesPhotos - 1">>></button>
    <button mat-button *ngIf="pageCourantePhoto >= nbPagesPhotos - 1" disabled>>></button>
  </div>
  <nav></nav>
