<mat-tab-group (selectedTabChange)="onTabChange($event)">

    <td [width]="700" [height]="600">
      <ngb-carousel #ngCarousel
        [showNavigationArrows]="false" 
        [showNavigationIndicators]="false"
        [interval]="3000"
        [keyboard]="false"
        [pauseOnHover]="true"
        [wrap]="true"
        [activeId]="'1'"
        [attr.aria-activedescendant] = "">
        <ng-template  ngbSlide *ngFor="let c of photosCarousel">
          <div class="picsum-img-wrapper">
            <img style="width: 600px;" src={{photos}} alt="">>
          </div>
        </ng-template>
      </ngb-carousel>
    </td>
  
  <!--Onglet Meteo-->
  <mat-tab label={{onglet1}}>
    <app-moto-gp></app-moto-gp>
  </mat-tab>
  <mat-tab label={{onglet2}}>    
    <app-view-liens></app-view-liens>
    <app-meteo></app-meteo>
  </mat-tab>
  <!--Onglet Agenda-->
  <mat-tab label={{onglet3}}>
    <app-view-agenda></app-view-agenda>
  </mat-tab>
  <!--Onglet Photos-->
  <mat-tab label={{onglet4}}>
    <app-view-photos></app-view-photos>
  </mat-tab>
</mat-tab-group>
  